<header>
    <div class="name">
        <span class="circle">N</span>
        <h2>Nika</h2>
    </div>
    <nav [ngClass]="{active:menuOpen}">
        <ul>
            <li><a href="#aboutMe">Home</a></li>
            <li><a routerLink="/aboutMe" >About Me</a></li>
            <li><a href="#skills" >Skills & Expertise</a></li>
            <li><a routerLink="portfolio">Portfolio</a></li>
            <li><a href="#workProccess" >Work Proccess</a></li>
            <li><a routerLink="certifications">CV/Certifications</a></li>
            <li><a href="#contact" >Contact Me</a></li>
        </ul>
    </nav>
    <div class="burger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>