<main>
    <section id="aboutMe" class="aboutMe">
        <div class="wrapper">
            <div class="info">
                <h1>Hello, I'm <br> Nika Kvaratskhelia</h1>
                <p>I'm a Developer based in Georgia, Tbilisi. I'm dedicated to build modern and beautiful web applications with modern technologies and clean code.</p>
                <a href="#contact">Say Hello!</a>

                <div class="details">
                    <div>
                        <h4>1Y.</h4>
                        <p>Experience</p>
                    </div>
                    <div>
                        <h4>10+</h4>
                        <p>Projects Completed</p>
                    </div>
                    <div>
                        <h4>Available</h4>
                        <p>24/7</p>
                    </div>
                </div>
            </div>
            <img src="assets/images/MyImg.jpg" alt="My pic">
        </div>
    </section>

    
</main>